/* Universal selector that sets the page limits */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Sets page background color to #d9dcd6 */
body {
    background-color: #d9dcd6;
}
/* Sets top header size, font, background color, and text color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Makes the top header text display evenly across the top, sets the size and text color of the "Horiseon*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/* Positions the 3 Tabs in the header, sets the font, and the size  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Sets the tabs in a row together, and adds proper spacing between each tab in the top header */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
    
}
/* Sets the tab text color and removes the underline */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Font size of the paragraphs */
p {
    font-size: 16px;
}
/* Sets height and width of hero image, adds spacing below the picture, picture links into the background of the site, pciture covers the hero section and centers in the section*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* sets picture in paragraph to either right or left side and adds margin space */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* sets width of whole content section, displays the sections as boxes, and adds margin from the left side to give proper spacing*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Sets margin from the right to the column box and adds padding, sets postioning, size, font, and background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Adds margin to all boxes in the middle from the bottom and sets the text color */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Adds spacing below the headers in the column and centers inside the cloumn */
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Displays all the images in the column in a block format and spaces itself between the text and headrs, and sets the max width of the images */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets parapgrah background spacing, sets the height of the background box, the font, the background color, and the text color */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Sets all images' max sizing to 200px */
img {
    max-height: 200px;
}
/* Adds margin from bottom to all paragraph headers and sets font size  */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Positions the footer in the center, sets font, adds spacing from the last paragraph box, removes elements from being beside it. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Sets the footer's header font size */
.footer h2 {
    font-size: 20px;
}
